WEBSERVICE_LOGIN=
WEBSERVICE_PASS=
WEBSERVICE_NPN_DB=
WEBSERVICE_NPN_HOST=
WEBSERVICE_DRUPAL_DB=
WEBSERVICE_DRUPAL_HOST=
WEBSERVICE_POSTGRES_LOGIN=
WEBSERVICE_POSTGRES_PASS=
WEBSERVICE_POSTGRES_DB=
WEBSERVICE_POSTGRES_HOST=
GOOGLE_ELEVATION_KEY=
GOOGLE_GEOCODE_KEY=
NPN_TIMEZONE_URL=https://mynpn.usanpn.org/npnapps/timeZone
PORT=3000
REQUIRE_HTTPS=1
